/* @import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Franklin&family=Open+Sans&family=Oswald&display=swap"); */
:root {
  --color-primary: #ffffff;
  --color-accent: #0070f3;
  --color-third: #ffdd00;
  --color-button: #0070f3;
  --color-text: #242424;
}

[data-theme="dark"] {
  --color-primary: #000814;
  --color-accent: #ffd60a;
  --color-third: #003566;
  --color-button: #ffd60a;
  --color-text: #ffffff;
}

html,
body {
  overflow-x: hidden;
  background-color: var(--color-primary);
  color: var(--color-text);
}
.container-styled {
  padding: 3rem;
}
body::-webkit-scrollbar {
  width: 0.1rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(97, 97, 97);
  outline: 1px solid rgb(252, 252, 252);
  border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

p,
div,
span {
  font-family: "Open Sans", sans-serif;
}

.btn,
button {
  font-family: "Libre Franklin", sans-serif;
}

.special-fonts {
  font-family: "Anton", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
