.container-height-complete {
  height: 100vh;
}

.text-title {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.text-general {
  font-size: 14px;
}

.sidebar {
  height: 100vh;
}

.sidebar-close {
  transition: 1s;
  left: -100%;
}

.sidebar-open {
  transition: 0.2s;
  backdrop-filter: blur(15px);
  right: 100%;
}

.sidebar-link-items {
  transition: 0.2s ease-in-out;
}
.sidebar-link-items:hover {
  transform: translate(1rem);
}

.sidebar-link-items a div:hover {
  transition: 0.2s ease-in-out;
  background-color: #0070f3;
  color: #f1faee;
}

.image-profile-home {
  height: 30rem;
  width: 40rem;
  border-top-left-radius: 100%;
}

.btn--switch-container {
  height: 1.5rem;
  width: 4rem;
  background-color: #0070f3;
  border-radius: 15px;
  transition: 1s;
}

.btn--switch-state {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #000;
  border-radius: 15px;
  cursor: pointer;
}

.btn--switch-state-light {
  transition: 1s;
  transform: translateX(2rem);
}

.btn--switch-state-dark {
  transition: 1s;
  transform: translateX(2rem);
}

.icon--transition-rotate {
  animation-name: icon-animation-rotate;
  animation-duration: 1s;
  cursor: pointer;
}
@keyframes icon-animation-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    /* transform: rotate(0deg); */
    transform: rotate(360deg);
  }
}

.icon--transition-scale {
  animation-name: icon-animation-scale;
  animation-duration: 1s;
  cursor: pointer;
}
@keyframes icon-animation-scale {
  0% {
    transform: translateX(-15px);
    opacity: 0.2;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.bg--stars-random {
  height: 10px;
  margin-top: 2rem;
  width: 10px;
  background-color: #000;
  border-radius: 100%;
  animation-name: stars-generation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes stars-generation {
  0% {
    transform: translateY(60rem);
    opacity: 0.8;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-60rem);
    opacity: 0.5;
  }
}

.bar--language-style {
  height: 2rem;
  width: 15rem;
  border: 0.5px solid rgba(0, 0, 0, 0.404);
  border-radius: 10px;
}
.bar--language-flag {
  cursor: pointer;
}

.icon--transform-rotate {
  transform: rotate(-112deg);
}

.avatarHome--background-image {
  background-image: url("../components/images/blob\ \(2\).svg");
  background-repeat: no-repeat;
}

.avatarAbout--background-image {
  background-image: url("../components/images/blob\ \(1\).svg");
  background-repeat: no-repeat;
}

.avatarConst--background-image {
  background-image: url("../components/images/blob\ \(4\).svg");
  background-repeat: no-repeat;
}

.menu-icon {
  transition: 0.4s;
}

/* .menu--icon-transition:hover .menu--icon-bar-1 {
  transition: 0.4s;
  transform: translateX(-1rem);
}
.menu--icon-transition:hover .menu--icon-bar-2 {
  transition: 0.4s;
  transform: translateX(-0.5rem);
} */

.menu--icon-open-bar-1 {
  transition: 0.4s;
  margin: 1rem 0 0 0 !important;
  transform: translateX(1rem);
  transform: rotate(-45deg);
}
.menu--icon-open-bar-2 {
  transition: 0.4s;
  margin: -5px 0 0 0 !important;
  transform: translateX(1rem);
  transform: rotate(45deg);
}
.menu--icon-open-bar-3 {
  transition: 0.4s;
  opacity: 0;
}

.menu--icon-bar-1 {
  background-color: #000;
  height: 5px;
  width: 35px;
  transition: 0.4s;
}
.menu--icon-bar-2 {
  background-color: #000;
  height: 5px;
  width: 35px;
  transition: 0.4s;
}
.menu--icon-bar-3 {
  transition: 0.4s;
  height: 5px;
  width: 35px;
  background-color: #000;
}

.skills-hard {
  background-image: url("../components/images/blob\ \(6\).svg");
  background-repeat: no-repeat;
}

.icon--js-badge {
  width: 15px;
  height: 15px;
  padding: 5px;
  background-color: #ffdd00;
  border-radius: 30px;
}

.icon--ts-badge {
  width: 15px;
  height: 15px;
  color: white;
  padding: 5px;
  background-color: #007acc;
  border-radius: 30px;
}

.icon--py-badge {
  width: 15px;
  height: 15px;
  color: white;
  padding: 5px;
  background-color: #306998;
  border-radius: 30px;
}

.icon--sql-badge {
  width: 15px;
  height: 15px;
  color: white;
  padding: 5px;
  background-color: #f29111;
  border-radius: 30px;
}

.icon--fs-badge {
  width: 15px;
  height: 15px;
  color: white;
  padding: 5px;
  background-color: #ffcb2b;
  border-radius: 30px;
}

.icon--mgo-badge {
  width: 15px;
  height: 15px;
  color: white;
  padding: 5px;
  background-color: #4db33d;
  border-radius: 30px;
}

.icon--ne-badge {
  width: 15px;
  height: 15px;
  color: white;
  padding: 5px;
  background-color: #070707;
  border-radius: 30px;
}

.icon--re-badge {
  width: 15px;
  height: 15px;
  color: white;
  padding: 5px;
  background-color: #61dbfb;
  border-radius: 30px;
}

.icon--nd-badge {
  width: 15px;
  height: 15px;
  color: white;
  padding: 5px;
  background-color: #3cb73a;
  border-radius: 30px;
}

.icon-line {
  position: absolute;
  width: 250px;
  height: 2px;
  background-color: #000;
}

/* .icons--bubble-hard {
  height: 15rem;
  background-image: url("../components/images/blob\ \(9\).svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.icons--bubble-soft {
  height: 15rem;
  background-image: url("../components/images/blob\ \(8\).svg");
  background-repeat: no-repeat;
  background-size: cover;
} */

.transition-opacity-effect {
  animation-name: smooth-transition-effect;
  animation-duration: 0.2s;
}

.transition-text-effect {
  animation-name: translate-transition-effect;
  animation-duration: 0.2s;
}

@keyframes smooth-transition-effect {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes translate-transition-effect {
  0% {
    transform: translateX(-20rem);
  }
  25% {
    transform: translateX(-16rem);
  }
  50% {
    transform: translateX(-12rem);
  }
  75% {
    transform: translateX(-8rem);
  }
  100% {
    transform: translateX(-4rem);
  }
}
